<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/games" text=""></ion-back-button>
      </ion-buttons>
      <ion-label>
        <p>Team</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
  <ion-item *ngIf="!isLoading && errorMessage" lines="none">
    <ion-label>{{ errorMessage }}</ion-label>
  </ion-item>

  <ion-grid *ngIf="!isLoading && teams.length > 0">
    <ion-item *ngFor="let team of teams; let i = index" lines="none">
      <ion-card class="event-card" [routerLink]="'/team-member/' + team.idteam">
        <ion-row>
          <ion-col size="12" class="image-col">
            <img [src]="team.imgPath" alt="{{ team.name }}" />
          </ion-col>
          <ion-col size="12">
            <ion-card-header>
              <ion-card-title>{{ team.name }}</ion-card-title>
            </ion-card-header>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-grid>
</ion-content>