<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/games"></ion-back-button>
      </ion-buttons>
      <ion-label color="light">
        <p>Team</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item *ngFor="let team of selectedGame?.teams" lines="none">
      <ion-card class="event-card">
        <ion-row>
          <ion-col size="12" class="image-col">
            <img [src]="team?.image" alt="{{ team?.name }}" />
          </ion-col>
          <ion-col size="12">
            <ion-card-header>
              <ion-card-title>{{ team?.name }}</ion-card-title>
            </ion-card-header>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-grid>
</ion-content>