ion-card {
    margin: 10px;
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
    ion-card-content {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    ion-chip {
      margin: 5px 0;
    }
  }  