ion-header {
  --background: var(--ion-primary-color);

  ion-toolbar.wrapper {
    --background: url('../../../assets/img/home/header2.png') no-repeat center center/cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    ion-item,
    ion-toolbar.srchBar {
      --background: transparent;

    }

    ion-item {
      //margin: 3.5vh 0;

      ion-label {
        font-size: 0.75rem;

        ion-icon {
          margin-right: 3px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: var(--ion-primary-color);

          ion-text {
            text-shadow: 2px 2px 4px var(--ion-color-black);


          }
        }

        p {
          margin-top: 3px;
          font-size: 1.8rem;
          color: var(--ion-primary-color);
          font-weight: bold;
          text-shadow: 2px 2px 4px var(--ion-color-black);
          text-align: center;
        }
      }
    }
  }
}

ion-content {
  --background: var(--ion-primary-color);
  padding: 10px;

  ion-item {
    --background: var(--ion-primary-color);
  }
}

.event-card {
  margin: 10px;
  border-radius: 16px;
  box-shadow: 3px 3px 3px var(--ion-color-soft-pink);
  background-color: #fff;

  img {
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0 0;
  }

  ion-card-header {
    --background-color: var(--ion-primary-color);
    border-radius: 0 0 16px 16px;
    padding: 16px;
  }

  ion-card-subtitle {
    font-size: 12px;
    color: #777;
  }

  ion-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  ion-card-content {
    padding: 15px;
    border-radius: 0 0 16px 16px;

    p {
      margin: 5px 0;
      font-size: 14px;
      color: #555;
    }

    ion-chip {
      margin-top: 10px;
    }

    ion-chip[color="success"] {
      --ion-color-base: #76c7c0;
    }

    ion-chip[color="warning"] {
      --ion-color-base: #f6c23e;
    }

    ion-chip[color="primary"] {
      --ion-color-base: #e81f91;
    }
  }
}