<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text=""></ion-back-button>
      </ion-buttons>
      <ion-label color="light">
        <p>Schedule</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
  <ion-item *ngIf="!isLoading && errorMessage" lines="none">
    <ion-label>{{ errorMessage }}</ion-label>
  </ion-item>

  <ion-item *ngFor="let schedule of schedules" lines="none">
    <ion-card class="schedule-card" (click)="goToDetail(schedule.idevent)">
      <img [src]="schedule.imgPath" alt="{{ schedule.name }}" />
      <ion-card-header>
        <ion-card-title>{{ schedule.name }}</ion-card-title>
        <ion-card-subtitle>
          {{ schedule.date | date: 'mediumDate' }} - {{ schedule.time }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Game Mode: {{ schedule.gameMode }}</p>
        <p>Platform: {{ schedule.platform }}</p>
        <ion-chip color="success">
          <ion-icon name="trophy-outline"></ion-icon>
          <ion-label>{{ schedule.prize }}</ion-label>
        </ion-chip>
        <ion-chip color="warning">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>{{ schedule.participants }}</ion-label>
        </ion-chip>
        <ion-chip color="primary">
          <ion-label>UPCOMING</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>