<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home" text=""></ion-back-button>
      </ion-buttons>
      <ion-label color="light">
        <p>Schedule</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item *ngFor="let schedule of schedules; let i=index" lines="none" (click)="viewScheduleDetails(schedule)">
      <ion-card class="schedule-card" routerLink="/schedule_detail/{{i}}">
        <ion-row>
          <ion-col size="12" class="image-col">
            <img [src]="schedule.image" alt="{{ schedule.title }}" />
          </ion-col>
          <ion-col size="12">
            <ion-card-header>
              <ion-card-subtitle>
                {{ schedule.date | date: 'mediumDate' }} - {{ schedule.time }}
              </ion-card-subtitle>
              <ion-card-title>{{ schedule.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Game Mode: {{ schedule.gameMode }}</p>
              <p>Platform: {{ schedule.platform }}</p>
              <ion-chip color="success">
                <ion-icon name="trophy-outline"></ion-icon>
                <ion-label>{{ schedule.prize }}</ion-label>
              </ion-chip>
              <ion-chip color="warning">
                <ion-icon name="people-outline"></ion-icon>
                <ion-label>{{ schedule.participants }}</ion-label>
              </ion-chip>
              <ion-chip color="primary">
                <ion-label>UPCOMING</ion-label>
              </ion-chip>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-item>
  </ion-grid>
</ion-content>