ion-header {
    --background: var(--ion-primary-color);

    ion-back-button {
        position: fixed;
        color: var(--ion-color-white);
    }

    ion-toolbar.wrapper {
        --background: url('../../../assets/img/home/header2.png') no-repeat center center/cover;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;

        ion-item {
            --background: transparent;

            ion-label {
                font-size: 0.75rem;

                p {
                    margin-top: 3px;
                    font-size: 1.8rem;
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                    text-shadow: 2px 2px 4px var(--ion-color-black);
                }
            }
        }
    }
}

ion-content {
    padding: 10px;
    background-color: #f7f7f7; // recurs

    ion-item {
        --background: var(--ion-primary-color);
    }

    h5 {
        margin-inline: 32px;
    }

    ion-fab {
        margin-right: 16px;
        margin-bottom: 16px;
    }
}

.proposal-card {
    margin: 10px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 3px var(--ion-color-soft-pink);
    background-color: #fff;
}

.proposal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Jarak antara nomor dan nama tim */
}

.number {
    font-weight: bold;
    font-size: 1.2em;
    color: #555;
}

.team-name {
    font-size: 1em;
    font-weight: bold;
    color: #333;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Jarak antar chip/badge */
}

ion-chip,
ion-badge {
    font-weight: bold;
    font-size: 0.9em;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 10px;
    --padding-end: 10px;
}

h5 {
    font-weight: bold;
    text-align: center;
    color: #444;
    margin-bottom: 16px;
}
