<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games"></ion-back-button>
    </ion-buttons>
    <ion-title>Achievement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>

    <ion-card>
      <img [src]="selectedGame?.image"/>
      <ion-item *ngFor="let achievement of selectedGame?.achievements" lines="none">
        <ion-label>- {{ achievement.title}} - {{ achievement.date}}</ion-label>
      </ion-item>
    </ion-card>

  </ion-grid>
</ion-content>