<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/games"></ion-back-button>
    </ion-buttons>
    <ion-title>Achievement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-card>
      <img [src]="selectedGame?.image" />
      <ion-card-content *ngFor="let achievement of selectedGame?.achievements" lines="none">

        <p>- {{ achievement.title}} - {{ achievement.year}}</p>

        <p> {{ achievement.team }}</p>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>