<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/games" text=""></ion-back-button>
      </ion-buttons>
      <ion-label color="light">
        <p>Achievement</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Spinner saat loading -->
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <!-- Pesan error -->
  <ion-item *ngIf="!isLoading && errorMessage" lines="none">
    <ion-label>{{ errorMessage }}</ion-label>
  </ion-item>

  <!-- Data Achievement -->
  <ion-grid *ngIf="!isLoading && arrayAchievement.length > 0">
    <ion-card>
      <!-- Gambar Game -->
      <img [src]="imgPath" alt="Game Image" />

      <!-- Pilihan Tahun -->
      <ion-select placeholder="All Years" [(ngModel)]="selectedYear">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option *ngFor="let year of distinctYears" [value]="year">
          {{ year }}
        </ion-select-option>
      </ion-select>

      <!-- Daftar Achievement -->
      <ion-grid>
        <ion-row *ngFor="let achievement of getFilteredAchievements(); let i = index" class="baris">
          <ion-col size="auto">
            <ion-label class="number">{{ i + 1 }}.</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>
              {{ achievement.title }} - {{ achievement.year }}<br />
              <span>{{ achievement.team }}</span>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>
</ion-content>