<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="teams/{{gameIndex}}"></ion-back-button>
      </ion-buttons>
      <ion-label>
        <p>Team Member</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let member of selectedTeam?.members" lines="none" class="member-item">
      <ion-avatar slot="start">
        <ion-img [src]="member?.avatar"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ member?.nickname }}</h2>
        <p>Role: {{ member?.role }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
