<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="" text="" (click)="goBack()"></ion-back-button>
      </ion-buttons>
      <ion-label>
        <p>Team Member</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
  <ion-item *ngIf="!isLoading && errorMessage" lines="none">
    <ion-label>{{ errorMessage }}</ion-label>
  </ion-item>

  <ion-card *ngIf="!isLoading && team" class="card-content">
    <img [src]="team.imgPath" alt="{{ team.name }}" />
    <ion-card-title>
      <strong>{{ team.name }}</strong>
    </ion-card-title>
  </ion-card>

  <ion-list *ngIf="!isLoading && members.length > 0">
    <ion-card *ngFor="let member of members" class="member-item">
      <div class="avatar-text-container">
        <ion-avatar slot="start">
          <ion-img [src]="member.imgPath"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ member.username }}</h2>
          <p>Role: {{ member.role }}</p>
        </ion-label>
      </div>
    </ion-card>
  </ion-list>
</ion-content>