<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="teams/{{gameIndex}}" text=""></ion-back-button>
      </ion-buttons>
      <ion-label>
        <p>Team Member</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-content">
    <img [src]="selectedTeam?.image" />
    <ion-card-title>
      <strong>{{ selectedTeam?.name }} ({{ selectedGame?.name }})</strong>
    </ion-card-title>
    <ion-list>
      <ion-card *ngFor="let member of selectedTeam?.members" class="member-item">
        <div class="avatar-text-container">
          <ion-avatar slot="start">
            <ion-img [src]="member?.avatar"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ member?.nickname }}</h2>
            <p>Role: {{ member?.role }}</p>
          </ion-label>
        </div>
      </ion-card>
    </ion-list>
  </ion-card>

</ion-content>