ion-header {
    --background: var(--ion-primary-color);

    ion-back-button {
        position: fixed;
        color: var(--ion-color-white);
    }

    ion-toolbar.wrapper {
        --background: url('../../../../../assets/img/home/header2.png') no-repeat center center/cover;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;

        ion-item {
            --background: transparent;
            ion-label {
                font-size: 0.75rem;
                p {
                    margin-top: 3px;
                    font-size: 1.8rem;
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                    text-shadow: 2px 2px 4px var(--ion-color-black);
                }
            }
        }
    }
}

ion-content {
    --background: var(--ion-primary-color);

    ion-list {
        margin: 10px;
    }

    ion-item.member-item {
        display: flex;
        align-items: center; /* Ensure items (avatar and text) are vertically aligned */
        padding: 10px;
        border-bottom: none;
        --background: transparent;

        ion-avatar {
            display: block;
            flex-shrink: 0; /* Prevent avatar from shrinking */
            margin-right: 15px; /* Add space between avatar and text */

            ion-img {
                width: 70px; /* Adjust avatar size */
                height: 70px;
                border-radius: 50%; /* Make it round */
            }
        }

        ion-label {
            margin-left: 20px;
            display: block;

            h2 {
                font-size: 1.2rem;
                font-weight: bold;
                color: #333;
            }

            p {
                margin-top: 5px;
                font-size: 1rem;
                color: #666;
            }
        }
    }
}