<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="light">
        <p>Register</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item class="custom-item">
      <ion-input [(ngModel)]="fname" label="First Name" labelPlacement="floating" class="large-input"></ion-input>
    </ion-item>
    <ion-item class="custom-item">
      <ion-input [(ngModel)]="lname" label="Last Name" labelPlacement="floating" class="large-input"></ion-input>
    </ion-item>
    <ion-item class="custom-item">
      <ion-input [(ngModel)]="username" label="Username" labelPlacement="floating" class="large-input"></ion-input>
    </ion-item>
    <ion-item class="custom-item">
      <ion-input [(ngModel)]="password" type="password" label="Password" labelPlacement="floating"
        placeholder="Enter password" class="large-input"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="register()">Register</ion-button>
  </ion-card>

  <div class="reg-link">
    <p>Sudah punya akun?
      <a [routerLink]="['/login']">Login di sini</a>
    </p>
  </div>
</ion-content>