<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="our-schedule" text=""></ion-back-button>
      </ion-buttons>
      <ion-label color="light">
        <p>Schedule Detail</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!isLoading && schedule">
    <ion-img [src]="schedule.venueImgPath"></ion-img>
    <div class="content-card">
      <ion-card-title><strong>{{ schedule.name }}</strong></ion-card-title>
      <ion-card-subtitle>{{ schedule.location }}</ion-card-subtitle>
      <ion-card-subtitle>{{ schedule.date }} ({{ schedule.time }})</ion-card-subtitle>
      <p><strong>{{ schedule.affectedTeam }}</strong></p>
      <p>{{ schedule.description }}</p>

      <div class="button-container">
        <ion-button (click)="setOpen(true)">
          <ion-icon name="notifications-outline"></ion-icon>
          Notify Me
        </ion-button>
        <ion-alert [isOpen]="isAlertOpen" header="Notification Created" message="We will notify you later."
          [buttons]="alertButtons" (didDismiss)="setOpen(false)">
        </ion-alert>
      </div>
    </div>
  </ion-card>

  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
</ion-content>