<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>schedule_detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="event.image" alt="{{ event.title }}" />
    <ion-card-header>
      <ion-card-title>{{ event.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Date:</strong> {{ event.date | date: 'mediumDate' }}</p>
      <p><strong>Time:</strong> {{ event.time }}</p>
      <p><strong>Location:</strong> {{ event.location }}</p>
      <p>{{ event.description }}</p>
      <ion-button expand="block" color="primary" (click)="notifyMe()">Notify Me</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>