<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <img src="../../assets/img/Ariel.JPG" alt="Card Image" />
        <ion-card-header>
          <ion-card-subtitle>Subtitle 1</ion-card-subtitle>
          <ion-card-title>Card Title 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>This is the first card content.</p>
          <ion-button expand="block" fill="solid" color="primary">Read More</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <img src="../../assets/img/Ariel.JPG" alt="Card Image" />
        <ion-card-header>
          <ion-card-subtitle>Subtitle 2</ion-card-subtitle>
          <ion-card-title>Card Title 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>This is the second card content.</p>
          <ion-button expand="block" fill="solid" color="primary">Read More</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>