<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="light">
        <p>Login</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../../../assets/img/logo.jpg" />
  <ion-card>
    <ion-item>
      <ion-input [(ngModel)]="username" label="Username" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" type="password" label="Password" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()">Login</ion-button>
  </ion-card>

  <!-- Tambahkan ini -->
  <div style="text-align: center; margin-top: 1rem;">
    <p>Belum punya akun? 
      <a [routerLink]="['/register']" style="color: #ff6b6b; font-weight: bold;">Daftar di sini</a>
    </p>
  </div>
</ion-content>
