<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="light">
        <p>Login</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../../../assets/img/logo.jpg" />
  <ion-card>
    <ion-item class="custom-item">
      <ion-input [(ngModel)]="username" label="Username" labelPlacement="floating" class="large-input"></ion-input>
    </ion-item>
    <ion-item class="custom-item">
      <ion-input [(ngModel)]="password" type="password" label="Password" labelPlacement="floating"  placeholder="Enter text" class="large-input"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()">Login</ion-button>
  </ion-card>

  <div class="reg-link">
    <p>Belum punya akun? 
      <a [routerLink]="['/register']">Daftar di sini</a>
    </p>
  </div>
</ion-content>
