ion-header {
  --background: var(--ion-primary-color);

  ion-toolbar.wrapper {
    --background: url('../../../assets/img/home/header2.png') no-repeat center center/cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    ion-item,
    ion-toolbar.srchBar {
      --background: transparent;
    }

    ion-item {

      ion-label {
        font-size: 0.75rem;

        ion-icon {
          margin-right: 3px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          color: var(--ion-primary-color);

          ion-text {
            text-shadow: 2px 2px 4px var(--ion-color-black);


          }
        }

        p {
          margin-top: 3px;
          font-size: 1.8rem;
          color: var(--ion-primary-color);
          font-weight: bold;
          text-shadow: 2px 2px 4px var(--ion-color-black);
          text-align: center;
        }
      }
    }
  }
}
ion-buttons {
  position: fixed;
  color: #fff;
}

ion-content {
  --background-color: var(--ion-primary-color);
}

ion-card {
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 3px 3px 3px var(--ion-color-soft-pink);
}

ion-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

ion-card-content {
  font-size: 1.2em;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


.foto-logo {
  height: 20em;
  width: 20em;
}