<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-label color="light">
        <p>About</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <img class="foto-logo" src="../../../assets/img/logo.jpg" alt="Foto Ariel" />

    <ion-card-header>
      <ion-card-title>Our E-Sports Team</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>We are a passionate e-sports team dedicated to excellence in gaming. Our strength lies in our teamwork,
        strategy, and unwavering commitment to success.</p>
      <p>Our vision is to become a leading name in the e-sports world, inspiring others with our gameplay and
        sportsmanship.</p>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <div>
      <p>Likes: {{likes}}</p>
    </div>
  </ion-card>
  <ion-button expand="block" color="primary" (click)="likeTeam()">
    <ion-icon slot="start" name="thumbs-up"></ion-icon>
    Like
  </ion-button>


</ion-content>