:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;

  --light: #F9F9F9;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
  --green: #66dc17;
}

ion-content {
  background-color: #FFF;
}

ion-card {
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #FFF;
}

ion-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

ion-card-content {
  font-size: 1.2em;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

ion-button {
  margin: 20px;
}

.foto-logo {
  height: 20em;
  width: 20em;
}