<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informatic E-Sport
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stranger</ion-title>
    </ion-toolbar>
  </ion-header>



  <div id="container">
    <ion-button expand="block" routerLink="games">What We Play</ion-button>
    <ion-button expand="block" routerLink="about">Who We Are</ion-button>
    <ion-button expand="block" routerLink="schedule">Our Schedule</ion-button>
  </div>
</ion-content>