<ion-header class="ion-no-border">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label color="light">
        <div>
          <ion-icon name="locate-outline"></ion-icon>
          <ion-text>Hello Stranger</ion-text>
        </div>
        <p>Informatics E-Sport</p>
      </ion-label>

      <ion-fab-button size="small">
        <ion-icon name="notifications-outline" color="medium"></ion-icon>
        <ion-badge>&#9679;</ion-badge>
      </ion-fab-button>
    </ion-item>

    <ion-toolbar class="srchBar" mode="ios">
      <ion-row>
        <ion-col size="10">
          <ion-searchbar placeholder="Search events"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-fab-button size="small" color="light">
            <ion-icon name="options-outline" color="medium"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Streaming & Podcast</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/imgs/film.png"/>
          </ion-thumbnail>
          <ion-label>
            <h2>RRQ Cookie Red Live</h2>
            <p>Ready for Stumble? | 09 Feb, 20:00 WIB</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Event</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="../../assets/img/imgs/comedy.png"/>
          </ion-thumbnail>
          <ion-label>
            <h2>[SURABAYA] RRQ Keliling Kota S4</h2>
            <p>27 Sep 2024 - GRATIS - Tersedia Sekarang</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="who-we-are" routerLink="about">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Who We Are</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="what-we-play" routerLink="games">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>What We Play</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="our-schedule" routerLink="schedule">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>